<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>
<title>Enviar parametros GET - URL </title>
<body>
<h1>Enviar parametros GET - URL </h1>
<ul>

<li>
<a th:href="@{/params/string(texto='Hola brahian')}">/params/string?texto=Hola andres</a>
</li>
<li>
<a th:href="@{/params/string(texto='Que tal Jhon')}">/params/string?texto=Que tal Jhon</a>
</li>
<li>
<a th:href="@{/params/mix(saludo='Como estas brahian', numero = 10)}">/params/mix?saludo=Que tal Brahian&numero=10</a>
</li>
<li>
<a th:href="@{/params/mix(saludo='Como estas brahian', numero = 10)}">/params/mix?saludo=Que tal Brahian&numero=10</a>
</li>
<li>
<a th:href="@{/params/mix-params-request(saludo='Como estas brahian', numero = 10)}">/mix-params-request?saludo=Que tal Brahian&numero=10</a>
</li>



</ul>
</body>
</html>